@page "{id:int?}"

@model WebClassStudent.Pages.ClassRooms.CreateModel
@{
   
}
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="room.id" />


            <div class="form-group">
                <label asp-for="room.className" class="control-label"></label>
                <input asp-for="room.className" class="form-control" />
                <span asp-validation-for="room.className" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="room.location" class="control-label"></label>
                <input asp-for="room.location" class="form-control" />
                <span asp-validation-for="room.location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="room.teacherName" class="control-label"></label>
                <input asp-for="room.teacherName" class="form-control" />
                <span asp-validation-for="room.teacherName" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="submit" value='@(Model.room!=null && Model.room.id.HasValue==true?"Update":"Create")' class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
